<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MovieController</display-name>
    <servlet-name>MovieController</servlet-name>
    <servlet-class>com.group3.lab5.movierentalsystem.controller.MovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieController</servlet-name>
    <url-pattern>/MovieController</url-pattern>
  </servlet-mapping>
  <display-name>lab_5_j2ee</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>com.group3.lab5.movierentalsystem.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RentalController</display-name>
    <servlet-name>RentalController</servlet-name>
    <servlet-class>com.group3.lab5.movierentalsystem.controller.RentalController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RentalController</servlet-name>
    <url-pattern>/RentalController</url-pattern>
  </servlet-mapping>
</web-app>